[submodule "zsh/themes/common"]
	path = zsh/themes/common
	url = https://github.com/jackharrisonsherlock/common
[submodule "zsh/themes/typewritten"]
	path = zsh/themes/typewritten
	url = https://github.com/reobin/typewritten
