[user]
    name = Mohammed Fareed
    email = mfareed@gleason.com

; git settings
[init]
    ; use main as default branch name
    defaultBranch = main
[fetch]
    ; remove remote-tracking branches for deleted remote branches
    prune = true
[pull]
    ; rebase local commits on top of the updated upstream branch
    rebase = true
[rerere]
    ; enable reuse recorded resolution (remember conflict resolutions)
    enabled = true

; terminal settings
[status]
    ; git status uses --short by default
    short = true
[color]
    ; colorize git output
    ui = auto
[help]
    ; prompt to correct typos in git commands
    autoCorrect = prompt

; vscode editor
[core]
    editor = code
    ; convert windows line endings to unix
    autocrlf = input
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

; lfs (large file system)
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
