[user]
    name = Mohammed Fareed
    email = mohdf.fareed@icloud.com
    signingkey = ~/.ssh/github.pub

; git settings
[commit]
    ; sign commits
    gpgsign = true
[gpg]
    ; use ssh key for signing
    format = ssh
[init]
    ; use main as default branch name
    defaultBranch = main
[fetch]
    ; remove remote-tracking branches for deleted remote branches
    prune = true
[pull]
    ; rebase local commits on top of the updated upstream branch
    rebase = true

; terminal settings
[status]
    ; git status uses --short by default
    short = true
[color]
    ; colorize git output
    ui = auto
[help]
    ; prompt to correct typos in git commands
    autoCorrect = prompt

; vscode
[core]
    editor = code --wait
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

; aliases
[alias]
    graph = log --graph --abbrev-commit --decorate --all
    graphc = log --graph --decorate --format=format:'%C(magenta)%h%C(reset) - \
%s %C(dim white)- %cr%Creset%C(auto)%d%C(reset)' --abbrev-commit --all

; lfs (large file system)
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
