Host *
  IdentityFile ~/.ssh/personal.key
  AddKeysToAgent yes
  UseKeychain yes

Host github.com
  IdentityFile ~/.ssh/github.key

Host rpi
  IdentityFile ~/.ssh/ssh.key

Host rpi.local
  IdentityFile ~/.ssh/ssh.key

Host pc
  IdentityFile ~/.ssh/ssh.key

Host pc.local
  IdentityFile ~/.ssh/ssh.key
