[include]
    ; global git user config
    path = ~/Developer/machine/config/git/user.config
[commit]
    ; sign commits
    gpgsign = true
[gpg]
    ; use ssh key for signing
    format = ssh
[core]
    ; global gitignore file
    excludesfile = ~/Developer/machine/config/git/ignore.config
[init]
    ; use main as default branch name
    defaultBranch = main
[fetch]
    prune = true  ; remove remote-tracking branches for deleted remote branches
[pull]
    rebase = true ; rebase local commits on top of the updated upstream branch

; terminal settings
[status]
    short = true         ; git status uses --short by default
[color]
    ui = auto            ; colorize git output
[help]
    autoCorrect = prompt ; prompt to correct typos in git commands

; vscode settings
[core]
    editor = code --wait
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

; git aliases
[alias]
    graph = log --graph --abbrev-commit --decorate --all

    graphc = log --graph --decorate --format=format:'%C(magenta)%h%C(reset) - \
%s %C(dim white)- %cr%Creset%C(auto)%d%C(reset)' --abbrev-commit --all
